body{
  background-color: #020817 ;
}

#root {
  /* background: #1F1300; */
  max-width: 1280px;
  min-height:fit-content;
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar{
  display: none;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.codystar-light {
  font-family: "Codystar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lufga;
  src: url('./assets/fonts/LufgaThin.ttf');
}

.lufga-regular {
  font-family: lufga;
  font-weight: 900;
}